{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
<div class="navshadow container-fluid" style="background-color: #6F9FD8; height: 100%; padding-bottom: 17.375em; margin-top:1em; margin-bottom: 0.01em; background-image: url('/static/resources/login/background.jpg'); background-size: cover;">
<h1>Lost Password?</h1>
<form action="" method="POST">
		{{ form.hidden_tag() }}
			
		{{ form.username.label(class="font-weight-bold small") }}
		{{ form.username(class="form-control", style="width: 15em;", placeholder="Enter username or email") }}
		{% for error in form.username.errors %}
		<span style="color : red">[{{error}}]</span>
		{% endfor %}
		<br>
		
		{{ form.submit(class="btn btn-outline-dark btn-block", style="width: 15em;") }}
</form>
</div>
</div>
{% endblock %}